* {
  font-family: 'Ubuntu', Sans-Serif;
  /*font-family: 'DotGothic16', SSans-Serif*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
}
.container {
  margin: 1rem auto 0;
  width: 100%;
  padding: 0 3%;
}
.fa-user-graduate {
  display: block;
  text-align: center;
  margin: 1rem auto 0.7rem;
  font-size: 3rem;
  color: #00ccff;
}
h1 {
  text-align: center;
  color: #00ccff;
}
.content {
  width: 100%;
  margin: 1.6rem auto 0;
}
input {
  width: 85%;
  display: block;
  margin: 0 auto 0.65rem;
  padding: 0.45rem 0.35rem;
  outline: none;
  text-transform: capitalize;
}
input:focus {
  box-shadow: 1.5px 1.5px 12px rgba(0,204,255,0.5);
  border-color: transparent;
  border-color: rgba(0,204,255,0.2);
}
.name-in {
  font-size: 1rem;
  font-weight: 400;
  color: #00ccff;
}
.btn {
  width: 85%;
  display: block;
  margin: auto;
  /*border: none;*/
  outline: none;
  padding: 0.45rem 0.35rem;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  background: #00ccff;
}